body{
    font: 15px/1.5 Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
    background-color: #f4f4f4;
}

/*Global*/
.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}


ul{
    padding: 0;
    margin: 0;
}

.button_1{
    height: 38px;
    background: #e8491d;
    color: #ffffff;
    padding: 0 20px;
    border: none;
}

.dark{
    padding: 15px;
    margin: 10px 0;
    color: #ffffff;
    background: #35424a;
}

/*Header*/
header{
    background-color: #35424a;
    color: #ffffff;
    padding-top: 30px;
    min-height: 70px;
    border-bottom: #e8491d 3px solid;
}

header #branding{
    float: left;
}

header #branding h1{
    margin: 0
}

header nav{
    float: right;
    margin-top: 12px;
    
}

header a{
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
}

header li{
    float: left;
    display: inherit;
    padding: 0 20px;
    
}

header .highlight, .current{
    color: #e8491d;
}

header a:hover{
    color: #cccccc;
}

/*Showcase*/
#showcase{
    min-height: 400px;
    background: url("../img/showcase.jpg") no-repeat 0 -400px;
    text-align: center;
    color: #ffffff;
}

#showcase h1{
    margin-top: 100px;
    font-size: 55px;
    margin-bottom: 10px;
}

#showcase p{
    font-size: 20px;
}

/*Newsletter*/
#newsletter{
    padding: 15px;
    background-color: #35424a;
}

#newsletter h1{
    float: left;
    color: #ffffff;
    
}

#newsletter form{
    float: right;
    margin-top: 15px
}

#newsletter input[type="email"]{
    padding: 4px;
    height: 25px;
    width: 250px;
}

/*Boxes*/
#boxes{
    margin-top: 20px;
}

#boxes .box{
    width: 30%;
    float: left;
    padding: 10px;
    text-align: center;
}

#boxes .box img{
    width: 90px;
}

/*About Us*/
/*can be (aside#sidebar or just #sidebar)*/
aside#sidebar{
    float: right;
    margin-top: 10px;
    width: 30%;
}

/*main column*/
#main-col{
    float: left;
    width: 65%;
}

/*packages*/
#services li{
    list-style: none;
    padding: 20px;
    border: #cccccc 1px solid;
    background: #e6e6e6;
    margin-bottom: 10px;
}

#sidebar .quote input, #sidebar .quote textarea{
    padding: 5px;
    width: 90%;
}


/*Footer*/
footer{
    padding: 20px;
    margin-top: 20px;
    text-align: center;
    color: #ffffff;
    background: #e8491d;
}

/*media queries*/
@media(max-width: 768px){
    header#branding,
    header nav,
    header nav li,
    #newsletter h1,
    #newsletter form,
    #boxes .box,
    #main-col,
    aside#sidebar{
        float: none;
        text-align: center;
        width: 100%;
    }
    header{
        padding-bottom: 20px;
    }
    #showcase h1{
        margin-top: 40px;
    }
    button, .quote button{
        display: block;
        width: 100%;
    }
    #newsletter form input[type="email"], .quote input, .quote button{
        width: 100%;
        margin-bottom: 5px;
    }
}